.title, .small_message, .subway_line {
    position: absolute; 
    left: 50%;
    transform: translateX(-50%);
}

.title {
    top: 50px;
    width: 250px;
}

.small_message {
    top: 800px;
    width: 400px;
}

.information_button {
    position: absolute; 
    left: 87%;
    top: 10px;
    width: 200px;
    transition: transform 0.3s ease-in-out; 
    cursor: pointer;
    z-index: 100;
}

.information_button:hover {
    transform: scale(1.1);
    z-index: 100;
}

.modal-overlay {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    justify-content: center; 
    align-items: center; 
    z-index: 1000; 
    opacity: 0; 
    transition: opacity 0.3s ease-in-out;
}

.modal-overlay.show {
    opacity: 1; 
}

.modal-image {
    max-width: 60%; 
    max-height: 60%; 
    transform: scale(0.8);
    transition: transform 0.3s ease-in-out;
}

.modal-overlay.show .modal-image {
    transform: scale(1); 
}

.subway_line {
    top: 17.4%;
    width: 1900px;
    z-index: 1; 
}

.subway_line_button_1,
.subway_line_button_2,
.subway_line_button_3,
.subway_line_button_4 {
    position: absolute; 
    top: 489px;       
    width: 210px;    
    opacity: 0;
    cursor: pointer;
    z-index: 5; 
}

.subway_line_button_1 { left: 138px; }
.subway_line_button_2 { left: 522px; }
.subway_line_button_3 { left: 958px; }
.subway_line_button_4 { left: 1341px; }

#btn1, #btn2, #btn3, #btn4 {
    transition: none; 
}